*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
}

html{
    font-size: 16px;
}
body{
    background-color: var(--color-secondary);

}

.header{
    background-color: var(--color-dark);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    height: 400px;
}
.site-info{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.site-info .heading{
    font-size: 2rem;
    font-size: 300;
    text-align: center;
    text-transform: uppercase;
}

.site-info .description{
   font-size: 1.5rem;
   color: var(--color-primary);
   font-style: italic;
   font-weight: 700;
}

.navbar{
    background-color: var(--color-primary);
}

nav.navbar ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: column;
}

nav.navbar ul li{
    flex-grow: 1;
    text-align: center;

}


.navbar ul li a{
    display: block;
    color: var(--color-dark);
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px;
    transition: all 1s ease-in-out;


}

.navbar ul li a:hover,
.navbar ul li a:active,
.navbar ul li a:focus{
    background-color: var(--color-dark);
    color: var(--color-primary);
}

/*///// main content css */

.main-content-area{
  padding: 1.25rem;

}

.post {
    margin-bottom: 20px;
}
.posts{
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  justify-content: space-between
  ;

}

.post p{
    color: var(--color-dark);
    padding: 2.5rem;
    background-color: var(--color-white);
}
.post h2{
    background-color: var(--color-primary);
    padding: 1.875rem;
    text-align: center;
    color: var(--color-dark);
}


.post-img{
    height: 280px;
}

.post img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.sidebar-right{
    background-color: blueviolet;
}



.watch-card{
    background-color: var(--color-dark);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
}


.watch-content{
    padding: 1.87rem;
}

.watch-content h3{
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.watch-content h3{
    font-size: 1.5 rem;
    text-transform: capitalize;
    margin-bottom: 1 rem;
}

.movie-info span{
    margin-right: 1rem;
}

.movie-story{
    margin: .5rem 0 1rem;
}

.movie-info a {
    color: var(--color-white);
    text-decoration: underline;
}

/* download css */

.download-cart{
       display: flex;
       flex-direction: column;
}


.download-cast img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 5px;
}


.download-img{
    background-color: var(--color-dark);
}

.download-gener h4, .download-cast h4{
    flex-basis: 20%;
}

.download-info{
    background-color: var(--color-white);

    padding: 1rem;
}

.download-gener{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.download-gener ,.download-cast{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.download-icon{
    display: flex;
    padding: 1rem 2rem;
    background-color: var(--color-dark);
    color: var(--color-white);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.download-content a {
    
    background-color: var(--color-dark);
    color: var(--color-white);
}

.download-rating{
    background-color: var(--color-primary);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
   

}

/* footer css */


.footer{
    background-color: var(--color-dark);
    color: var(--color-white);
}





@media all and  (min-width:1200px){
         .content-area{
            display: flex;
         }
         .post-half{
            width: 49%;
         }
         .post-one-third{
            width: 32%;
         }
         nav.navbar ul{
            flex-direction: row;
         }
         .watch-card{
            flex-direction: row;
            margin-bottom: 1.25rem;
        
         }
         .watch-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
         }

         .watch-img.order-1{
            order: 1;
         }
         .download-content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .download-info{
            flex-grow: 1;
        }

        .download-gener h4, .download-cast h4{
            flex-basis: 80px;
        }
    }
    
    



